{% extends "base.html" %}
{% block content %}
<nav id="sidebar">
    <h4>Rooms</h4>
    {% for room in rooms: %}
        <p class="selectRoom "> {{ room|title }}</p>
    {% endfor %}
</nav>

<div id="display-msg">

</div>
<div id="input-area">
    <input type="text" id="user_msg" placeholder="Type here..." autocomplete="off">
    <button type="button" id="send_msg">Send</button>
</div>

<script type="text/javascript">
    const username = `{{ username }}`;
</script>

<script type="text/javascript" src="{{ url_for('static', filename='script/socketio.js') }}"></script>


{% endblock content %}