{% extends "base.html" %}
{% block content %}

<div class="post container-fluid">
{% for message in get_flashed_messages() %}
  <div id="msg" class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{ message }}
  </div>
{% endfor %}

<h2>This is home page. yet to be desgined completely</h2>
    <div class= "post-header">
		   <a class="newp" href="{{ url_for('users.user_profile', username=current_user.username) }}"> My profile </a>
		   <a class="newp" onclick="enableEditor()" href="#"> Create new post </a>
		   <hr>
    </div>

	<form class="hide" id="postform" method="post">

					<textarea id="summernote" name="editordata"></textarea>

					<div class="submitpost">
				  `		<button class="postbutton btn btn-md btn-primary text-uppercase" type="submit" onclick="PostEmptyCheck()">Post </button>
						<button class="postbutton btn btn-md btn-primary text-uppercase" type="reset" onclick="closeEditor()">Cancel </button>
					</div>

				</form>
</div>
        <div class="post container-fluid">
			<div class="postcards">
              {% for post in posts %}
				<div class="card">
					<div id= {{post.id}} class="card-body">
						<h5 class="card-title">{{ post.author.username }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ post.date.strftime('%Y-%m-%d') }}</h6>
						<div class="user_content">
                        	{{post.text|safe}}
						</div>
						{% if post.author == current_user %}
							<a href="{{ url_for('core.update', postid=post.id) }}"  id = "dummy" class="card-link">Edit</a>
							<a href="{{ url_for('core.deletePost', postid=post.id) }}" class="card-link">Delete</a>
						{% endif %}
						<a href="#" class="card-link">Share</a>
						{% if current_user.is_already_liked(post) %}
						<a href="{{ url_for('users.likePost', post_id=post.id) }}" class="card-link">Liked</a>
						{% else %}
						<a href="{{ url_for('users.likePost', post_id=post.id) }}" class="card-link">Like</a>
						{% endif %}


					</div>
				</div>
				{% endfor %}
		    </div>
	   </div>
<script type="text/javascript" src="{{ url_for('static', filename='script/home.js') }}"></script>
{% endblock content %}